@import "tailwindcss";

@theme {
  --color-primary: #03755e;
  --text-2xl: 2rem;
  --border-width-0\.75: 0.75px;
}

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
